.btn-custom {
    background-color: #901e22;
    display: flex;
    border-radius: 15px 15px 15px 15px;
    min-width: 130px;
    border: 1px solid #901e22;
    height: 35px;   
    justify-content: center;
    font: 700 12px/1.2 "Inter", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .spacer-custom
  {
    margin-left: 10px;
    color: #c39c3b;
  }