
.pagination{
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 2rem;
 font-size: 1.2rem;
 gap: 3px;
 margin-top: 2rem;
}
.page-num{
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 300;
    text-decoration: none;   
    color: #901e22;
    vertical-align:middle;
}
.page-num:hover{
    background-color: #901e22;
    box-shadow: 0 0 0 0.2rem rgba(144, 30, 34, 0.2);
    color:whitesmoke;
  }
.page-num.active{
    background-color: #901e22; 
    color: whitesmoke;
}