.center_screen
{
    position: fixed;
    top: 40%;
    left: 20%;
    margin-top: 0px;
    margin-left: 0px;
    width: 60%;
    height: 100%;
}
.loading_spinner
{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 0px;
    margin-left: 0px;
    width: 100px;
    height: 100px; 
}